apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: contact-form
  namespace: contact-form
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/subnets: {{ tf.public_subnet_ids.value | join(',') | to_json }}
    alb.ingress.kubernetes.io/security-groups: {{ tf.alb_security_group_id.value | to_json }}
    alb.ingress.kubernetes.io/manage-backend-security-group-rules: "false"
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/certificate-arn: {{ tf.certificate_arn.value | to_json }}
    alb.ingress.kubernetes.io/ssl-policy: ELBSecurityPolicy-TLS13-1-2-Res-2021-06
    alb.ingress.kubernetes.io/backend-protocol: HTTP
    alb.ingress.kubernetes.io/healthcheck-path: /health/ready
    alb.ingress.kubernetes.io/healthcheck-port: "8000"
    alb.ingress.kubernetes.io/success-codes: "200"
spec:
  ingressClassName: alb
  rules:
    - host: {{ tf.domain_name.value | to_json }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: contact-form
                port:
                  number: 8000
